body{
    background-color: rgba(0, 0, 0, 0.992);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    font-family: Montserrat;

    /* gradient */

    background: linear-gradient(286deg, #D883e9, #1450A3);
    background-size: 400% 400%;
  
    -webkit-animation: AnimationName 41s ease infinite;
    -moz-animation: AnimationName 41s ease infinite;
    animation: AnimationName 41s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 75%}
    50%{background-position:100% 26%}
    100%{background-position:0% 75%}
}



.main{
  color: #fff;
  font-family: Montserrat;
  font-size: small;
  margin-bottom: 30%;
  align-items: center;
}

.starting{
  display: flex;
  flex-direction: column;

}

.heading1{
  font-family: Poppins;
  font-size: medium;
  font-weight: 400;
}
/* 
.heading1:hover{
  color: rgb(36, 36, 46);
  background-color: #F09819;
} */

.button-87 {
  font-family: Montserrat;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}



.card {
  background-color: rgb(237, 198, 25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover{
  cursor: pointer;
  background-color: #f09819;
  transition: 500ms;
  box-shadow: rgba(22, 22, 22, 0.071)
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px 60px;
  width: 80%;
  height: 80%;
}

.card img {
  width: 60%;
}

.hide{
  display: none;
}

.ending{
  display: flex;
  flex-direction: column;
}

.endingheading{
  font-family: Poppins;
  font-size: medium;
  font-weight: 400;
}





@media(max-width: 600px){

   .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px 20px;
    width: 80%;
    height: 80%;
}
}